@{
    ViewBag.Title = "Missing Links";
}
@model MissingLinks.Models.InputModel

<h2>@ViewBag.Title</h2>
<p>This is where you can discover the chain necessary to breed moves onto a target Pokemon. May your chain be short and simple!</p>

@using (Html.BeginForm("SummonVeekun", "Home", FormMethod.Post))
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Pokemon)
    </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pokemon, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.Pokemon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Move)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Move, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.Move)
        </div>
        <br />
        <p>
            <input type="submit" value="Do the thing!" />
        </p>
}